*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  color: #333;

}
.wrap{
   width: 1200px;
   height: 700px;
   margin: 0 auto; 
   font-size: 50px;
}
header.a{
    width: 1200px;
    height: 100px;
    background-color: #d3671f;
    display: flex;
    
}

.a>.a1{
    width: 300px;
    height: 100px;
    background-color: #f0b09d;
}

.a>.a2{
    width: 900px;
    height: 100px;
    background-color: #cceea6;
    position: relative;
}
.a2 > .mainMenu {
    font-size: 20px;
    display: flex;
    width: 800px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.a2 > .mainMenu > ul {
    width: 200px;
}

/* 메인 메뉴 */
.a2 > .mainMenu > ul > li.menuItem {
    width: 200px;
    position: relative;
}

/* 탑 / 아우터 / 팬츠 / 악세사리 */
.a2 > .mainMenu > ul > li.menuItem > a {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;

    text-align: center;

    background-color: #eef0ed;
    color: #333;

    font-weight: 800;
}

/* 서브메뉴 */
.a2 > .mainMenu > ul > li.menuItem > .subMenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    background-color: rgba(180, 238, 153, 0.9);
    z-index: 100;
}

/* 서브메뉴 각각의 li */
.a2 > .mainMenu > ul > li.menuItem > .subMenu li {
    width: 200px;
}

/* 서브메뉴 링크 */
.a2 > .mainMenu > ul > li.menuItem > .subMenu a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #333;
}

/* 서브메뉴에 마우스를 올리면 */
.a2 > .mainMenu > ul > li.menuItem > .subMenu a:hover {
    color: #fff;
    font-weight: 700;
}

.b{
    width: 1200px;
    height: 300px;
    background-color: #5c92d8;
    
}
.swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

.c{
    width: 1200px;
    height: 200px;
    display: flex;
}

.c>.c1{
    width: 400px;
    height: 200px;
    
}



.tab-box{
    width:400px;
    height: 200px;
    margin: 2px;
}
.tabs{
 display: flex;
 justify-content: left;
}
.tab{
    width: 100px;
    height: 40px;
    border: 1px solid #ddd; 
    background-color: #eee;
    cursor: pointer;
}
.tab.active {
    background-color: #fff;
    font-weight: 800;
}
.content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    width: 500px;
    height: 150px;
    background-color: #e0e0db;
}
.content.active {
    display: block;
}
.content li {
    padding: 5px;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    font-weight: 700;

}
.gallery {
    display: flex;
    gap: 10px;
}
.gallery img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin: 2px;
}

.c>.c2{
    width: 400px;
    height: 200px;
    background-color: #e250e2;
}

.c>.c3{
    width: 400px;
    height: 200px;
    background-color: #f0a8f0;
}

.d{
    width: 1200px;
    height: 100px;
    background-color: #7d25e2;
    display: flex;
}

.d>.d1{
    width: 200px;
    height: 100px;
    background-color: #eb5285;
}

.d>.d2{
    width: 800px;
    height: 100px;
    background-color: #eb185e;
}

.d>.d3{
    width: 200px;
    height: 100px;
    background-color: #b1023c;
}




